'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'localStorage'
      'submenu': [
        {
          'label': 'Open'
          'command': 'local-storage:open'
        },
        {
          'label': 'Save'
          'command': 'local-storage:save'
        }
      ]
    ]
  }
]
