'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'localStorage'
      'submenu': [
        {
          'label': 'Open Item'
          'command': 'local-storage:open-item'
        },
        {
          'label': 'Save Item'
          'command': 'local-storage:save-item'
        },
        {
          'label': 'Remove Item'
          'command': 'local-storage:remove-item'
        }
      ]
    ]
  }
]
